body {
	background: #fff !important;
}
.login-warning {
	color: #3F618C !important;
}
.comment_box .date{
	color: #3F618C !important;
}
.comment_box button{
	color: #3F618C !important;
}
.comment_box button:hover {
	color: #455973 !important;
}

#linker {
	background: #3F618C !important;
    border: 1px solid #455973 !important;
}
#linker:hover {
	background: #455973 !important;
}
.comment_box textarea {
	border-color: #455973;
}
.post_comment .comment_box .post-button {
	color: #3F618C !important;
	border: 1px solid #455973 !important;
}